---
import Icon from "astro-icon";
import type { CollectionEntry } from "astro:content";
interface Props {
    project: CollectionEntry<"project">;
}

const { title, startDate, endDate, techStack, github } =
    Astro.props.project.data;
const startDateString = startDate.toLocaleDateString("en-UK", {
    year: "numeric",
    month: "short",
});
const endDateString = endDate
    ? endDate.toLocaleDateString("en-UK", {
          year: "numeric",
          month: "short",
      })
    : "Current";
---

<a
    class="transistion sel my-2 flex w-11/12 flex-col rounded-lg bg-purple-800 p-2 text-zinc-50 delay-75 duration-150 ease-in-out"
    href={github}
>
    <div class="flex flex-row justify-between gap-4 text-3xl font-bold">
        <div class="flex w-3/4 flex-row items-center">
            {title}
        </div>
        <div class="1/4">{startDateString} - {endDateString}</div>
    </div>
    <div class="text-xl font-bold">Tech Stack: {techStack}</div>
    <div>{Astro.props.project.body}</div>
</a>
